<div>
  <button (click)="Sum()">
    sum of value
  </button>
  <label>{{x}}</label>
</div>
<table >
  <thead>
      <tr>
          <th>Number</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Value</th>
          <th>Day</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let dd of d.data; let i=index">
          <td>
            {{i+1}}
          </td>
          <td>
             {{dd.first_name}}
          </td>
          <td>
            {{dd.last_name}}
          </td>
          <td>
           {{dd.value}}
          </td>
          <td>
            {{dd.date| date: 'dd/MM/yyyy'}}
          </td>
      </tr>
  </tbody>
</table>


